{{- if .Values.serviceAccount.create -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "fractal-agents-runtime.serviceAccountName" . }}
  labels:
    {{- include "fractal-agents-runtime.labels" . | nindent 4 }}
    app.kubernetes.io/runtime: {{ include "fractal-agents-runtime.runtimeLabel" . }}
  {{- with .Values.serviceAccount.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
automountServiceAccountToken: {{ .Values.serviceAccount.automount }}
{{- end }}
